@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

@keyframes seq0 {
  0% {
    opacity: 0;
  }

  19% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes seq1 {
  0% {
    opacity: 0;
  }

  39% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes seq2 {
  0% {
    opacity: 0;
  }

  59% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate-decoding-de {
  animation: seq0 3s linear infinite;
}

.animate-decoding-cod {
  animation: seq1 3s linear infinite;
}

.animate-decoding-ing {
  animation: seq2 3s linear infinite;
}


